.widget-standings {
    &__arrows {
        width: 100%;
        height: 45px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        z-index: 8;
        top: 0;
        left: 0;

        &__element {
            height: 45px;
            width: 45px;
            position: relative;
            cursor: pointer;
            background: #FFF;

            &:before {
                content: ' ';
                width: 0;
                height: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
            }

            &.next {
                &:before {
                    border-left: 7px solid $main-color;
                    right: 15px;
                }
            }

            &.prev {
                &:before {
                    border-right: 7px solid $main-color;
                    left: 15px;
                }
            }
        }
    }
}