.widget-standings {
    &__slides {
        &__element {
            &__title {
                display: flex;
                line-height: 16px;
                font-size: 12px;
                flex-wrap: wrap;
                align-items: center;
                height: 45px;
                justify-content: center;
            }
            &__table {
                width: 100%;

                th {
                    padding: 15px 10px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: $text-gray-color;
                    background: $light-color;
                }

                td {
                    font-size: 12px;
                    padding: 12px 10px;
                    border-bottom: 1px solid $light-color;
                }

                &__position,
                &__played,
                &__points {
                    text-align: center;
                }

                &__team {
                    text-align: left;
                    font-size: 12px;
                }

                & tr &__position {
                    font-weight: 900;
                    padding-right: 0;
                }
            }
        }
    }
}