@import '../../utils/variables.scss';

.page-competition__carousel__slides__element__cup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__round {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
        border-top: 1px solid $light-color;
        margin-bottom: 30px;

        &__title {
            font-size: 16px;
            font-weight: 700;
            margin: 30px 0 15px;
            text-align: center;
            color: $text-gray-color;
        }

        &__fixture {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            font-size: 16px;
            margin-bottom: 15px;

            &__team {
                width: 40%;
                display: flex;
                align-items: center;

                &:last-child {
                    flex-direction: row-reverse;
                }
            }

            &__name {
                font-size: 14px;
                font-weight: 700;
            }

            &__logo {
                height: 36px;
                width: 36px;
                margin: 0 10px;
            }

            &__score {
                width: 40px;
                text-align: center;
                font-weight: 700;
            }
        }

        &:first-child & {
            &__title {
                font-size: 28px;
            }

            &__fixture {
                font-size: 24px;

                &__score {
                    width: 60px;
                }

                &__team {
                    flex-direction: column;
                }

                &__logo {
                    height: 52px;
                    width: 52px;
                    margin-bottom: 15px;
                }
            }
        }

        &:first-child {
            border-top: none;
        }
    }
}