.page-competition__carousel__slides__element {
    &__fixtures {
        width: 50%;
        padding: 0 15px;
        position: relative;

        &__rounds {
            display: flex;
            flex-direction: column;

            &__slides {
                position: relative;
                width: 100%;
                display: flex;
                order: 2;

                &__element {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    
                    &.active {
                        z-index: 1;
                        visibility: visible;
                        opacity: 1;
                        transition: all .3s .3s ease-in-out;
                        position: static;
                    }

                    &__fixture {
                        display: flex;
                        justify-content: space-around;
                        height: 48px;
                        align-items: center;
                        border-bottom: 1px solid $light-color;
                        font-size: 12px;

                        &__score {
                            width: 40px;
                            text-align: center;
                        }

                        &__team {
                            width: 35%;
                            
                            &.away {
                                text-align: right;
                            }
                        }

                        &__logo {
                            width: 24px;
                            margin: 0 6px;
                            
                            img {
                                height: 24px;
                                width: 24px;
                            }
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            &__navigation {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 12px;
                color: $text-gray-color;
                padding: 10px 0;
                background: $light-color;
                order: 1;

                &__element {
                    margin: 0 3px;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    cursor: pointer;
                    transition: .3s all ease-in-out;

                    &.active {
                        background: $main-color;
                        color: #FFF;
                        cursor: default;

                        &:hover {
                            background: $main-color;
                            color: #FFF;
                        }
                    }

                    &:hover {
                        background: #CCC;
                    }
                }
            }
        }
    }
}