@import '../../utils/variables';
@import '../../utils/mixins';
@import '../../../../../admin/style/utilities/mixins';

.page-competition {
    flex-wrap: wrap;

    @include media_small_desktop {
        padding: 0;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr minmax(0, auto);
        grid-template-rows: 1fr minmax(0, auto);
        align-items: flex-end;
        width: 100%;
        padding: 0 15px;

        &__title,
        &__subtitle {
            color: $text-gray-color;
            margin: 0;
            grid-column: 1;
        }

        &__title {
            font-size: 32px;
            grid-row: 1;
        }

        &__subtitle {
            font-size: 16px;
            grid-row: 2;
        }

        &__seasons {
            grid-column: 2;
            grid-row: 1 / span 2;
            position: relative;
            color: $main-color-light;
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 400;
            margin: 0;

            &__nav {
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                border-color: rgba($text-gray-color, .5);
                padding: 0 35px 0 15px;
                cursor: pointer;
                appearance: none;
                color: $main-color-light;

                option {
                    font-size: 14px;
                }
            }

            &__arrow {
                font-size: 18px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-12px);
            }
        }
    }


    &__carousel {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &__navigation {
            padding: 0 15px;
            margin-bottom: 30px;
            order: 1;
            width: 100%;
            display: flex;

            &__element {
                line-height: 32px;
                width: 100%;
                text-align: center;
                padding-bottom: 3px;
                background: $light-color;
                border-top: 3px solid rgba($second-color, 0);
                transition: all .3s ease-in-out;
                border-right: 1px solid #d3d3d3;
                cursor: pointer;

                &.active {
                    background: #FFF;
                    color: $second-color;
                    border-top: 3px solid rgba($second-color, 1);
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        &__slides {
            order: 2;
            position: relative;
            width: 100%;

            &__element {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease-in-out;
                display: flex;
                flex-wrap: wrap;

                &__excerpt,
                &__content {
                    padding: 0 15px;
                    flex-basis: 100%;
                }

                &__excerpt {
                    font-size: 18px;
                    font-weight: normal;
                    color: $main-color-light;
                    text-align: center;
                }

                &__content {
                    font-size: 12px;
                    margin-top: 30px;
                }

                @include media_small_desktop {
                    flex-wrap: wrap;
                }
                
                &.active {
                    position: static;
                    z-index: 9;
                    visibility: visible;
                    opacity: 1;
                    transition: all .3s .3s ease-in-out;
                }

                &__standings,
                &__fixtures {
                    @include media_small_desktop {
                        flex-basis: 100%;
                        margin-bottom: 60px;
                    }
                    
                    &__title {
                        padding: 15px;
                        margin: 0;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $main-color;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@import "fixtures";
@import "standings";
@import "cup";