@import '../utilities/mixins';
@import '../utilities/constants';

.tbi-metaboxes-form {
    display: flex;
    flex-direction: column;

    &__field {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        input,
        select {
            margin: 0;
        }

        &__label {
            flex-basis: 160px;
            max-width: 160px;
            font-weight: 500;
        }

        &__value {
			@include checkbox;
            flex-basis: 100%;
            max-width: 200px;

            &--short {
                flex-basis: 60px;
                max-width: 60px;
            }

            &[type="tel"] {
                padding: 6px 10px;
            }

            &[type="checkbox"] {
                margin: 5px 0;
            }
        }

        &--wrap {
            flex-wrap: wrap;
        }

        &--wrap & {
            #side-sortables &__label {
                flex-basis: 100%;
            }
        }
    }

    &__separator {
        margin-bottom: 20px;
        width: 100%;
    }

    #side-sortables & {
        &__field {
            justify-content: space-between;
            
            &--wrap {
                margin-bottom: 20px;
            }

            &__label {
                margin-bottom: 2px;
            }
        }

        .tbi-metaboxes-term-select {
            flex-basis: 100%;
        }
    }

    @include media-custom(782px) {
        &__field {
            &__value {
                &[type="tel"] {
                    padding: 3px 5px;
                }
            }
        }
    }
}