body.login {
    #login {
        h1 {
            a {
                height: 57px;
                width: 150px;
                background-image: url('../img/tbi-logo-orizzontale.png');
                background-size: 100%;
            }
        }
    }
}