#adminmenu {
    .menu-icon {
        &-clubs,
        &-teams,
        &-leagues,
        &-competitions,
        &-cups,
        &-fixtures {
            .wp-menu-image {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 28px;
                    width: auto;
                    padding: 0;
                }
            }
        }
        
        &-competitions,
        &-clubs {
            margin-top: 10px;
        }
    }
}