.tbi-widget {
    &__description {
        margin: 15px 0 0 0;
    }

    &__field {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__title {
            font-weight: 700;
            flex-basis: 100%;
            margin-top: 30px;
            margin-bottom: 7.5px;
            font-size: 12px;
        }
    
        &__input {
            flex-basis: 100%;
        }

        &--checkbox &,
        &--radio & {
            &__checkbox,
            &__radio {
                margin: 0 30px 10px 0;

                &__input[type="checkbox"],
                &__input[type="radio"] {
                    margin: 0;
                }

                &__label {
                    margin-left: 5px;
                }
            }
        }
    }
}