wp-admin/*
wp-includes/*
wp-content/*
node_modules/*

/*.php

!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/tbi-plugin
wp-content/plugins/tbi-plugin/assets/*

!wp-content/themes
wp-content/themes/*
!wp-content/themes/tbi-theme
wp-content/themes/tbi-theme/assets/*