.header__contents__row {
    &__clubs {
        display: flex;
        align-items: center;
        padding: 0 15px;
        flex-basis: 100%;

        img {
            max-height: 28px;
            flex-basis: 28px;
            margin-right: 15px;

            @include media_desktop {
                max-height: 24px;
                flex-basis: 24px;
                margin-right: 0;
            }
        }

        @include media_desktop {
            justify-content: space-between;
        }

        @include media_small_desktop {
            display: none;
        }
    }
}