.header__contents__row {
    @include media_tablet {
        &--top {
            left: 0;
            height: 60px;
        }

        &__open-menu,
        &__menu {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__menu {
            padding-top: 60px;
            height: 100vh;
            transform: translateX(-100%);
            transition: all .6s ease-in-out;
            z-index: -1;
            overflow: hidden;
            width: 100vw;

            &__container {
                flex-basis: 50vw;
                width: 50vw;
                background: $main-color;
            }

            &__element {
                flex-wrap: wrap;
                align-content: flex-start;

                > .menu-item {
                    flex-basis: 100%;
                    width: 100%;

                    a {
                        line-height: 18px;
                        padding: 15px 10px;
    
                        &:before {
                            display: none;
                        }
                    }

                    .sub-menu {
                        transform: translateX(200%);
                        height: 100vh;
                        flex-direction: column;
                    }

                    &.menu-item-open {
                        background: $light-color;

                        > a {
                            color: $main-color;
                        }

                        .sub-menu {
                            transform: translateX(100%);
                        }
                    }
                }
            }

            &.open {
                transform: translateX(0);
            }
        }
    }
}