.home__carousel__navigation {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    &__element {
        height: 18px;
        width: 18px;
        border: 3px solid #FFF;
        background: #FFF;
        border-radius: 50%;
        margin: 0 8px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &.active {
            background: $second-color;
        }

        @media only screen and (min-width: $media-tablet) {
            &:hover {
                background: #CCC;
            }
        }
    }
}