.widget {
    &__title {
        &:after {
            content: " ";
            width: 100%;
            display: block;
            margin-top: 1.5rem;
            border-bottom: .1rem solid $color-borders-dark;
        }
    }

    &__list {
        padding: 0 1.5rem;

        &__item {
            padding: 1.5rem 0;
            border-bottom: .1rem solid $color-borders;
        }
    }

    &__cta {
        font-size: 1.6rem;
        color: $color-red-main;
        text-decoration: none;
        font-weight: 700;
        padding: 1.5rem;
        text-align: center;
        display: block;

        &__icon {
            margin-left: .5rem;
            font-size: 1.2rem;
        }
    }

    &--last-posts {
        .widget__title {
            padding-bottom: 0;
            
            &:after {
                content: "";
            }
        }

        &__list {
            &__item {
                display: grid;
                grid-template-columns: minmax(0, 12rem) 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 1.5rem;

                &__thumbnail {
                    grid-column: 1;
                    grid-row: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__image {
                        width: auto;
                        height: auto;
                        max-height: 8rem;
                    }
                }

                &__content {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &__title {
                        margin: 0;
                        font-weight: 400;

                        &__cta {
                            text-decoration: none;
                            color: $color-fg;
                        }
                    }

                    &__date {
                        @include font-title;
                        color: $color-fg-accent;
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin: 0;
                        padding-top: .75rem;

                        &__icon {
                            margin-right: .3rem;
                            margin-bottom: .1rem;
                        }
                    }
                }

                &:first-child {
                    padding-top: 0;
                    display: flex;
                    flex-wrap: wrap;
                }

                &:first-child & {
                    &__thumbnail {
                        flex-basis: 100%;
                        max-width: 100%;
                        max-height: 51.2rem;

                        &__image {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }

                    &__content {
                        flex-basis: 100%;

                        &__title {
                            font-weight: 700;
                            font-size: 1.8rem;
                            padding-top: .75rem;
                        }
                    }
                }
            }
        }
    }
}