.widget {
    &__title {
        padding-bottom: 0;
        
        &:after {
            content: " ";
            width: 100%;
            display: block;
            margin-top: 1.5rem;
            border-bottom: .1rem solid $color-borders-dark;
        }
    }

    &__list {
        padding: 0 1.5rem;

        &__item {
            padding: 1.5rem 0;
            border-bottom: .1rem solid $color-borders;
        }
    }

    &__cta {
        font-size: 1.4rem;
        color: $color-red-main;
        text-decoration: none;
        font-weight: 700;
        padding: 1.5rem;
        text-align: center;
        display: block;

        &__icon {
            margin-left: .5rem;
            font-size: 1.2rem;
        }
    }

    &--last-posts {
        .widget__title {            
            &:after {
                content: "";
            }
        }

        &__list {
            &__item {
                display: grid;
                grid-template-columns: minmax(0, 12rem) 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 1.5rem;

                &__thumbnail {
                    grid-column: 1;
                    grid-row: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__image {
                        width: auto;
                        height: auto;
                        max-height: 8rem;
                    }
                }

                &__content {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &__title {
                        margin: 0;
                        font-weight: 400;

                        &__cta {
                            text-decoration: none;
                            color: $color-fg;
                        }
                    }

                    &__date {
                        @include font-title;
                        color: $color-fg-accent;
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin: 0;
                        padding-top: .75rem;

                        &__icon {
                            margin-right: .3rem;
                            margin-bottom: .1rem;
                        }
                    }
                }

                &:first-child {
                    padding-top: 0;
                    display: flex;
                    flex-wrap: wrap;
                }

                &:first-child & {
                    &__thumbnail {
                        flex-basis: 100%;
                        max-width: 100%;
                        max-height: 51.2rem;

                        &__image {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }

                    &__content {
                        flex-basis: 100%;

                        &__title {
                            font-weight: 700;
                            font-size: 1.8rem;
                            padding-top: .75rem;
                        }
                    }
                }
            }
        }
    }

    @include media-tablet {
        &__title {
            text-align: left;
        }

        &--last-posts {
            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-column-gap: 1.5rem;

                &__item {
                    &:nth-child(1) {
                        grid-column: 1;
                        grid-row: 1 / span 4;
                        padding-top: 1.5rem;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        border-bottom: none;
                    }
                    
                    &:nth-child(1) & {
                        &__thumbnail {
                            align-items: flex-start;
                        }

                        &__content {
                            justify-content: flex-start;
                        }
                    }

                    &:nth-child(2) {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    &:nth-child(3) {
                        grid-column: 2;
                        grid-row: 2;
                    }

                    &:nth-child(4) {
                        grid-column: 2;
                        grid-row: 3;
                    }

                    &:nth-child(5) {
                        grid-column: 2;
                        grid-row: 4;
                        border-bottom: none;
                    }
                }
            }
        }

        &__cta {
            border-top: .1rem solid $color-borders;
        }
    }

    @include media-desktop {
        .home__sidebar &,
        .sidebar & {
            &--last-posts {
                &__list {
                    display: flex;
                    flex-direction: column;

                    &__item {
                        &:first-child {
                            border-bottom: .1rem solid $color-borders;
                        }
                    }
                }
            }
        }
    }
}