@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Source+Sans+Pro:400,600,700,900&display=swap');

@import '../constants';
@import '../mixins';

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.scroll-locked,
    &.scroll-locked body {
        overflow: hidden;
    }
}

body {
    @include font-content;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    padding-top: 6.5rem;
    background: $color-primary-9;

    * {
        box-sizing: border-box;
    }
}

.layout-row {
    width: 100%;
    max-width: 1200px;
}

button {
    @include font-content;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;

    &:focus {
        outline: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    @include font-title;
}

h2 {
    @include font-title;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    letter-spacing: .05rem;
}

@include media-desktop {
    .layout-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: $color-neutral-9;
        padding: 0 1.5rem;
    }
}

@import './transitions';
@import './layout/header';
@import './widgets/index';
@import './pages/home';