@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Source+Sans+Pro:400,600,700,900&display=swap');

@import '../constants';
@import '../mixins';

// Hide WP bar
#wpadminbar {
    display: none;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.scroll-locked,
    &.scroll-locked body {
        overflow: hidden;
    }
}

body {
    @include font-content;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    padding-top: 1.3em;
    background: white;

    * {
        box-sizing: border-box;
    }
}

.layout-row {
    width: 100%;
    max-width: 120rem;
    background: $color-neutral-9;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 4em;
    margin-bottom: 4em;
}

button {
    @include font-content;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;

    &:focus {
        outline: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    @include font-title;
}

h2 {
    @include font-title;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    letter-spacing: .05rem;
}

@include media-desktop {
    body {
        padding-top: 6.5em;
    }
    .layout-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
}

@include media-tablet-plus {
    body {
        padding-top: 2.3em;
    }
}

// Containers
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@import './transitions';
@import './layout/header';
@import './layout/footer';
@import './shared/standings';
@import './shared/turns';
@import './widgets/index';
@import './pages/404';
@import './pages/contacts';
@import './pages/home';
@import './pages/search';
@import './pages/single';