@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900|Source+Sans+Pro:400,600,700,900&display=swap');

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
    }

    &.scroll-locked {
        overflow: hidden;
    }
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    &:focus {
        outline: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@import './transitions';
@import './layout/header';