html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    // font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    // background: $color-background-body;
    // color: $color-foreground-main;
}

@import './layout/header';