@import '../../../style/utilities/mixins';

.tbi-competition-teams-filters {
    &__field {
        display: flex;
        align-items: center;
        height: 24px;

        &__value {
            @include checkbox {
                margin-right: 5px;
            }
        }

        &__label {
            cursor: default;
        }
    }
}