.widget-fixtures__slides__element__rounds__navigation {
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47px;
    background: $light-color;

    &:before {
        content: 'Giornata';
        margin-right: 15px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
    }

    &__element {
        margin: 0 3px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        transition: .3s all ease-in-out;

        &.active {
            background: $main-color;
            color: #FFF;
            cursor: default;

            &:hover {
                background: $main-color;
                color: #FFF;
            }
        }

        &:hover {
            background: #CCC;
        }
    }
}