.widget-fixtures__slides__element__rounds {
    position: relative;
    display: flex;
    flex-direction: column;

    &__slides {
        order: 1;
        position: relative;

        &__element {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease-in-out;
            
            &.active {
                position: static;
                z-index: 9;
                visibility: visible;
                opacity: 1;
                transition: all .3s .3s ease-in-out;
            }

            &__fixture {
                line-height: 42px;
                display: flex;
                font-size: 12px;

                &:nth-child(even) {
                    background: $light-color;
                }
    
                &__team {
                    width: 42%;
    
                    &.home {
                        text-align: right;
                    }
                }
    
                &__score {
                    width: 7%;
                    text-align: center;
                }
    
                &__separator {
                    text-align: center;
                    flex-grow: 1;
                }

                &__logo {
                    display: flex;
                    align-items: center;
                    
                    img {
                        width: 24px;
                        height: auto;
                    }
                }
            }
        }
    }
}