@import '../../utils/variables.scss';

.page-competition__carousel__slides__element__cup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__round {
        width: 100%;
        max-width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        border-top: 1px solid $text-gray-color;
        margin-bottom: 30px;

        &__title {
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            margin: 30px 0 10px;
            text-align: center;
            font-size: 20px;
            color: $main-color;
            width: 100%;
        }

        &__fixture {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            font-size: 14px;
            margin-bottom: 10px;

            &__team {
                width: 40%;
                display: flex;
                align-items: center;

                &:last-child {
                    flex-direction: row-reverse;
                }
            }

            &__name {
                font-size: 12px;
                font-weight: 700;
            }

            &__logo {
                height: 24px;
                width: 24px;
                margin: 0 10px;
            }

            &__score {
                width: 40px;
                text-align: center;
                font-weight: 700;
            }

            h4 {
                margin: 15px 0 0 5px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }

        &:first-child {
            border-top: none;
        }
    }
}