@import 'utils/variables';

.not-found {
    flex-direction: column;
    align-items: center;
    padding: 60px 0;

    &__icon {
        font-size: 240px;
        color: #DDD;
    }

    &__title {
        font-size: 32px;
        color: $text-gray-color;
        margin: 30px 0 0;
    }
    
    &__link {
        padding: 10px 30px;
        background: $second-color;
        color: $text-second-color;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
    }
}