@import 'videos';

.youtchouk {
    flex-wrap: wrap;

    &__title {
        padding: 0 15px;
        width: 100%;
        
        @include media_tablet {
            padding: 0;
        }

        h2 {
            margin: 0;
            text-align: center;
            border-top: 1px solid $text-gray-color;
            color: $second-color;
            font-size: 22px;
            letter-spacing: -.6;
            padding: 15px;
        }
    }

    &__player {
        flex-basis: 58%;
        padding: 0 15px;

        &__element {
            width: 100%;
            padding: 15px 30px;
            position: relative;
            height: 400px;
        }

        @include media_small_desktop {
            flex-basis: 100%;
        }

        @include media_tablet {
            padding: 0;

            iframe {
                height: 240px;
            }
        }
    }
}