@import 'nav';
@import 'slide';

.home__carousel {
    overflow: hidden;
    position: relative;
    height: 500px;

    &__slides {
        position: relative;
        height: 500px;

        @include media_mobile {
            height: 100vh;
        }
    }

    @include media_mobile {
        height: 100vh;
    }
}
