$main-color: #181e5b;
$main-color-light: #242f7c;
$second-color: #ef2b63;
$third-color: #43dd93;
$fourth-color: #fad956;
$fifth-color: #45bfdb;
$text-main-color: #313131;
$text-second-color: #fff;
$text-gray-color: #88A;
$light-color: #ececf2;

$media-desktop: '1200px';
$media-small-desktop: '960px';
$media-tablet: '780px';
$media-mobile: '540px';

$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Poppins', sans-serif;