$color-primary-main: #28265D;
$color-primary-accent: #37347F;
$color-primary-accent-light: #605cbc;
$color-primary-dark: #171636;
$color-primary-light: #CAC9E9;
$color-primary-lightest: #EDEDF8;

$color-neutral-lightest: #FFF;

$color-red-main: #DF1A62;

$color-green-dark: #1B987E;

$color-yellow-main: #E8BB6D;

$color-violet-main: #982AD8;