$color-neutral-1: #0D0D0D;
$color-neutral-2: #262626;
$color-neutral-3: #404040;
$color-neutral-4: #595959;
$color-neutral-5: #737373;
$color-neutral-6: #A6A6A6;
$color-neutral-7: #BFBFBF;
$color-neutral-8: #D9D9D9;
$color-neutral-9: #FFF;

$color-primary-1: #080712;
$color-primary-2: #171636;
$color-primary-3: #28265D;
$color-primary-4: #37347F;
$color-primary-5: #605CBC;
$color-primary-6: #8380CB;
$color-primary-7: #A6A4DA;
$color-primary-8: #CAC9E9;
$color-primary-9: #EDEDF8;
$color-primary-10: #0077B6;
$color-primary-main: $color-primary-3;

$color-red-3: #720D32;
$color-red-5: #DF1A62;
$color-red-main: $color-red-5;

$color-green-4: #1B987E;
$color-green-5: #27D9B5;
$color-green-main: $color-green-5;

$color-yellow-main: #E8BB6D;
$color-violet-main: #982AD8;
$color-fuchsia-main: #DB37D8;

$color-fg: $color-neutral-1;
$color-fg-variant: $color-primary-9;
$color-fg-accent: $color-primary-5;
$color-borders: $color-primary-8;
$color-borders-dark: $color-primary-6;
$color-light-bg: $color-neutral-9;
$color-light-bg-variant: $color-primary-9;
$color-dark-bg: #0000009e;

$gradient-youtchouk-bg: linear-gradient(0, rgba(162, 109, 142, 0.43) 0%, rgba(162, 109, 142, 0.43) 33.333%,rgba(206, 146, 114, 0.43) 33.333%, rgba(206, 146, 114, 0.43) 66.666%,rgba(249, 183, 86, 0.43) 66.666%, rgba(249, 183, 86, 0.43) 99.999%),linear-gradient(90deg, rgb(219, 28, 200) 0%, rgb(219, 28, 200) 20%,rgb(224, 48, 201) 20%, rgb(224, 48, 201) 40%,rgb(229, 69, 202) 40%, rgb(229, 69, 202) 60%,rgb(234, 89, 203) 60%, rgb(234, 89, 203) 80%,rgb(239, 109, 204) 80%, rgb(239, 109, 204) 100%);
$gradient-youtchouk-fg: linear-gradient(135deg, rgb(59, 72, 175) 0%, rgb(59, 72, 175) 31%,rgb(55, 66, 150) 31%, rgb(55, 66, 150) 46%,rgb(51, 60, 126) 46%, rgb(51, 60, 126) 56%,rgb(48, 54, 101) 56%, rgb(48, 54, 101) 83%,rgb(44, 48, 77) 83%, rgb(44, 48, 77) 93%,rgb(40, 42, 52) 93%, rgb(40, 42, 52) 100%);

$main-color: #181e5b;
$main-color-light: #242f7c;
$second-color: #ef2b63;
$third-color: #43dd93;
$fourth-color: #fad956;
$fifth-color: #45bfdb;
$text-main-color: #313131;
$text-second-color: #fff;
$text-gray-color: #88A;
$light-color: #ececf2;

$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Poppins', sans-serif;
$second-font-family: 'Muli', sans-serif;