$color-neutral-1: #0D0D0D;
$color-neutral-2: #262626;
$color-neutral-3: #404040;
$color-neutral-4: #595959;
$color-neutral-5: #737373;
$color-neutral-6: #A6A6A6;
$color-neutral-7: #BFBFBF;
$color-neutral-8: #D9D9D9;
$color-neutral-9: #FFF;

$color-primary-1: #080712;
$color-primary-2: #171636;
$color-primary-3: #28265D;
$color-primary-4: #37347F;
$color-primary-5: #605CBC;
$color-primary-6: #8380CB;
$color-primary-7: #A6A4DA;
$color-primary-8: #CAC9E9;
$color-primary-9: #EDEDF8;
$color-primary-main: $color-primary-3;

$color-red-3: #720D32;
$color-red-5: #DF1A62;
$color-red-main: $color-red-5;

$color-green-4: #1B987E;
$color-green-5: #27D9B5;
$color-green-main: $color-green-5;

$color-yellow-main: #E8BB6D;
$color-violet-main: #982AD8;
$color-fuchsia-main: #DB37D8;

$color-fg: $color-neutral-1;
$color-fg-variant: $color-primary-9;
$color-fg-accent: $color-primary-5;
$color-borders: $color-primary-8;
$color-borders-dark: $color-primary-6;
$color-light-bg: $color-neutral-9;
$color-light-bg-variant: $color-primary-9;
