@mixin media-mobile {
    @media screen and (max-width: 540px) {
        @content;
    }
}
@mixin media-tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-tablet-plus {
    @media screen and (min-width: 784px) {
        @content;
    }
}
@mixin media-small-desktop {
    @media screen and (max-width: 960px) {
        @content;
    }
}
@mixin media-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-large-desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin gradient($start_color, $end_color, $direction: left) {
    $opposite: right;
    
    @if $direction == right { $opposite: left; }
    @else if $direction == top { $opposite: bottom; }
    @else if $direction == bottom { $opposite: top; }

    background: -moz-linear-gradient($opposite, $start_color 0%, $end_color 100%);
    background: -webkit-linear-gradient($opposite, $start_color 0%, $end_color 100%);
    background: linear-gradient(to $direction, $start_color 0%, $end_color 100%);
}

@mixin font-title {
    font-family: 'Muli', sans-serif;
}

@mixin font-content {
    font-family: 'Source Sans Pro', sans-serif;
}

@mixin font-team {
    @include font-content;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-neutral-3;
    letter-spacing: .05em;
}