@mixin media-tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-large-desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin gradient($start_color, $end_color, $direction: left) {
    $opposite: right;
    
    @if $direction == right { $opposite: left; }
    @else if $direction == top { $opposite: bottom; }
    @else if $direction == bottom { $opposite: top; }

    background: -moz-linear-gradient($opposite, $start_color 0%, $end_color 100%);
    background: -webkit-linear-gradient($opposite, $start_color 0%, $end_color 100%);
    background: linear-gradient(to $direction, $start_color 0%, $end_color 100%);
}