@import "../../constants";
@import "../../mixins";

.header {
    height: 6rem;
    width: 100%;
    padding: 0;
    position: fixed;
    display: grid;
    grid-template-columns: minmax(0, max-content) 1fr minmax(0, max-content);
    grid-template-rows: 1fr minmax(0, max-content);
    top: 0;
    left: 0;
    z-index: 19;
    background: $color-primary-main;
    opacity: 0;
    transition: opacity .2s ease-out;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        grid-column: 2;
        
        &__mobile {
            height: 4rem;
            width: 4rem;
        }

        &__desktop,
        &__light {
            display: none;
        }
    }

    &__flag {
        background: $color-light-bg;
        height: .5rem;
        width: 100%;
        grid-row: 2;
        grid-column: 1 / span 3;
        display: flex;
        justify-content: space-between;

        &:before {
            content: " ";
            background: $color-green-4;
            flex-basis: 33%;
        }

        &:after {
            content: " ";
            background: $color-red-main;
            flex-basis: 33%;
        }
    }

    &__top {
        display: none;
    }

    @include media-desktop {
        grid-template-columns: minmax(0, max-content) 1fr minmax(0, max-content);
        grid-template-rows: minmax(0, max-content) 1fr;
        background: $color-light-bg;
        height: auto;
        transition: all .3s ease-in-out;
        border-bottom: .1rem solid rgba($color-primary-main, .5);

        .scrolled & {
            transform: translateY(-5rem);
        }

        &__logo {
            grid-row: 1 / span 2;
            grid-column: 1;
            padding: 0 1.5rem;

            &__mobile {
                display: none;
            }

            &__desktop {
                display: block;
                height: 8rem;
                width: auto;
            }

            .scrolled & {
                grid-row: 2;

                &__desktop {
                    display: none;
                }

                &__light {
                    display: block;
                    height: 4rem;
                    width: auto;
                }
            }
        }

        &__flag {
            display: none;
        }

        &__top {
            display: grid;
            grid-row: 1;
            grid-column: 2 / span 2;
            grid-template-rows: 1fr;
            grid-template-columns: minmax(max-content, 1fr) minmax(0, max-content);
            height: 5rem;

            &__clubs {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 3rem 0 4rem;
                grid-row: 1;
                grid-column: 1;

                &__item {
                    padding: 0 1rem;

                    &__link__emblem {
                        height: 2.4rem;
                        width: auto;
                    }
                }
            }

            &__social {
                display: flex;
                grid-row: 1;
                grid-column: 2;
                align-items: center;
                padding: 0 .75rem;

                &__item {
                    height: 100%;
                    display: flex;
                    
                    a {
                        padding: 0 .75rem;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        transition: color .2s ease-in-out;
                    }
    
                    &__icon {
                        color: $color-primary-7;
                        font-size: 2rem;
                        transition: color .2s ease-in-out;

                        &:hover {
                            color: $color-violet-main;
                        }
                    }

                    &--youtube a,
                    &--youtube &__icon {
                        color: $color-red-main;
                    }

                    &--youtube {
                        a {
                            text-decoration: none;
                            font-weight: 600;
                        }

                        &:hover a {
                            color: $color-violet-main;
                        }
                    }

                    &--youtube & {
                        &__icon {
                            margin-right: .75rem;
                        }
                    }

                    &--youtube:hover & {
                        &__icon {
                            color: $color-violet-main;
                        }
                    }
                }

            }
        }
    }
}