.header {
    &__logo {
        flex-basis: 120px;
        height: 120px;
        position: relative;

        &--desktop {
            display: block;
        }

        &--mobile {
            display: none;
        }

        @include media_tablet {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            height: 80px;
            z-index: 3;

            &--desktop {
                display: none;
            }

            &--mobile {
                display: block;
                width: 80px;
            }
        }
    }
}