@import '../../utils/variables.scss';

.header__contents__row {
    &__search-form {
        display: flex;
        z-index: 9;

        .search-form {
            margin: 0;
            display: flex;
            align-items: center;
            flex-basis: 100%;
    
            &__submit {
                border: none;
                padding: 10px 8px;
                background: none;
                color: $second-color;
                cursor: pointer;
                font-size: 18px;
                margin: 0 10px;
    
                @include media_tablet {
                    margin: 0 0 0 15px;
    
                    .fas {
                        display: none;
                    }
    
                    &:after {
                        content: 'Cerca';
                    }
                }
            }
    
            &__text {
                width: 260px;
                padding: 8px 15px;
                background: transparent;
                border: 1px solid $text-gray-color;
                font-family: $main-font-family;
                font-size: 14px;
                color: $text-main-color;
                font-weight: 600;
    
                &::placeholder {
                    color: $text-gray-color;
                }

                @include media_desktop {
                    width: 200px;
                }
    
                @include media_tablet {
                    flex-basis: 100%;
                }
            }            
        }

        @include media_small_desktop {
            flex-basis: 50%;
            width: 50%;

            .search-form {            
                justify-content: flex-end;
            }
        }

        @include media_tablet {
            position: absolute;
            padding: 45px 15px 30px 15px;
            top: 60px;
            left: -100%;
            width: 100vw;
            background: #FFF;
            transform: translateY(-100%);
            z-index: -1;
            transition: all .3s ease-in-out;
        }

        &.open {
            @include media_tablet {
                transform: translateY(0);
            }
        }
    }

    &--bottom {
        @include media_small_desktop {
            justify-content: flex-end;
            padding: 0 10px;
        }

        @include media_tablet {
            padding: 0;
            flex-basis: 60px;
            width: 50%;
            right: 0;
        }
    }

    &__open-search {
        padding: 0 15px;
        color: #FFF;
        display: none;
        cursor: pointer;
        width: 60px;
        justify-content: center;

        .fas {
            color: $text-second-color;
            line-height: 60px;
            font-size: 18px;
        }

        @include media_tablet {
            display: flex;
        }
    }
}