header#tbi-vue-header {
    z-index: 9;
}

.header {
    display: flex;
    height: 120px;
    width: 100%;
    font-family: $title-font-family;
    overflow: hidden;
    box-shadow: 0px -4px 15px 0px;
    background: #FFF;

    &__contents {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &__row {
            display: flex;
            flex-basis: 50%;

            &--top {
                background: $main-color;
            }

            @include media_tablet {
                position: absolute;
                top: 0;
                width: 100%;
                background: transparent;
            }
        }

        @include media_tablet {
            flex-direction: row;
            box-shadow: 0px -4px 15px 0px;
            background: $main-color;
        }
    }

    @include media_tablet {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: none;
        overflow: visible;

        &__contents {
            height: 60px;
            overflow: visible;
        }
    }
}

@import 'logo';
@import 'menu';
@import "menu-compressed";
@import 'clubs';
@import 'searchform';
@import 'social';