.footer {
    background: $main-color;
    padding-top: 30px;
    color: $text-second-color;

    &__content {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        @include media_tablet {
            justify-content: space-evenly;
        }

        &__list {
            display: flex;
            flex-direction: column;
            padding: 30px;
            font-size: 12px;
            font-family: $title-font-family;
            line-height: 24px;

            @include media_tablet {
                flex-basis: 50%;
                text-align: center;
            }
            
            &__heading {
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 20px;
                color: $third-color;
            }

            &__element {
                a {
                    text-decoration: none;
                    color: $text-second-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &--contacts {
                flex-basis: 340px;
                
                @include media_tablet {
                    flex-basis: 50%;
                }

                @include media_mobile {
                    flex-basis: 100%;
                }

                h3 {
                    width: 100%;
                    margin: 0 0 5px;
                    font-weight: 700;
                    font-size: 18px;
                    color: $third-color;
                }

                dt {
                    margin-top: 15px;
                    font-weight: 700;
                }

                dd {
                    margin: 0;
                    display: flex;
                    align-items: center;

                    @include media_tablet {
                        justify-content: center;
                    }

                    i {
                        width: 16px;
                        margin-right: 6px;
                        text-align: center;
                        color: #45BFDB;
                    }
                }
            }
        }
    }

    &__copyright {
        background: #FFF;
        color: $main-color;
        font-size: 12px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 6px solid $second-color;
        margin-top: 30px;

        &__logo {
            height: 42px;
            width: auto;
            margin-right: 30px;
        }

        &__text {
            margin: 0;
            font-weight: 700;
        }
    }
}