.single {
    &__main {
        padding: 0 15px;
        flex-basis: 75%;
        flex-grow: 1;

        &__content {
            p {
                font-size: 14px;
                line-height: 22px;

            }
            
            img.alignleft {
                float: left;
                margin: 20px 20px 20px 0;
            }
        }
        
        iframe {
            @include media-mobile {
                width: 100%;
            }
        }

        &__thumbnail {
            max-width: 50%;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}