.fixtures {
    width: 100%;

    &__title {
        display: none;
        margin: 0;
        padding: 0 0 .75rem;
        text-align: center;
    }

    &__header {
        @include font-content;
        margin: 0;
        margin-top: 3rem;
        padding: .6rem 0;
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        /* autoprefixer: ignore next */
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;

        &__icon {
            color: $color-primary-7;
            margin-right: .75rem;
        }

        &__title {
            margin: 0;
        }
    }

    &__turn {
        &__child {
            padding: 2rem 0 3rem 0;

            &:last-child {
                padding-bottom: 0;
            }

            &__title {
                font-size: 1.6rem;
                font-weight: 700;
                margin: 0;
                text-align: center;
                padding-bottom: .4rem;
            }

            &__day {
                padding-bottom: 2rem;

                &:last-child {
                    padding-bottom: 0;
                }

                &__date {
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-align: center;
                    color: $color-primary-6;
                    margin: 0;
                    padding: .75rem 0 .3rem 0;
                }
            }
        }
    }
}

.fixture {
    padding: 1.5rem 0;
    grid-template-columns: 1fr 4rem 1rem 4rem 1fr minmax(0, auto);
    grid-template-rows: 1fr;
    display: grid;
    /* autoprefixer: ignore next */
    align-items: center;
    font-size: 1.4rem;
    border-top: .1rem solid $color-borders;

    &:last-child {
        border-bottom: .1rem solid $color-borders;
    }

    > * {
        grid-row: 1;
        padding: 0;

        &:nth-child(1) { grid-column: 1; }
        &:nth-child(2) { grid-column: 2; }
        &:nth-child(3) { grid-column: 3; }
        &:nth-child(4) { grid-column: 4; }
        &:nth-child(5) { grid-column: 5; }
        &:nth-child(6) { grid-column: 6; }
    }

    &__team {
        @include font-team;
        display: flex;
        /* autoprefixer: ignore next */
        align-items: center;

        &__emblem {
            padding-right: .75rem;

            &__img {
                max-width: 2rem;
                max-height: 2rem;
                height: auto;
            }
        }

        &__name {
            &--full {
                display: none;
            }
        }

        & ~ & {
            text-align: right;
            justify-content: flex-end;

        }
        
        & ~ & &__emblem {
            padding-right: 0;
            padding-left: .75rem;
        }
    }

    &__score,
    &__separator {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-neutral-3;
        text-align: center;
    }

    &__venue {
        display: none;
        font-size: 1.4rem;
        font-weight: 700;
        padding-left: 3rem;
        /* autoprefix: ignore next */
        align-items: center;

        &__icon {
            margin-right: 1rem;
            color: $color-red-main;
        }
    }
}

@include media-tablet {
    .fixtures {
        &__header {
            justify-content: flex-start;
        }

        &__turn {
            &__child {
                &__title {
                    text-align: left;
                }
                        
                &__day {
                    &__date {
                        text-align: left;
                    }
                }
            }
        }

        &--cup {
            .fixture {
                &__venue {
                    display: flex;
                }
            }
        }
    }

    .fixture {
        grid-template-columns: 1fr 4rem 1rem 4rem 1fr 2fr;
    }
}